input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.inputrg-label {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 50px;
  font-size: 1.3rem;
  color: #000;
}

.label-active {
  transition: all 0.4s ease;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.234);
}

.inputrg-input {
  border: 1px solid rgba(0, 0, 0, 0.121);
  margin-top: 4px;
  border-radius: 12px;
  display: inline-block;
  overflow: visible;
  outline: 0;
  outline-offset: 0;
  color: #000;
  letter-spacing: 1px;
  padding: 12px 32px 12px 44px;
  height: 100%;
  font-weight: 300;
  font-size: 16px;
  /* box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.12); */
}

.inputrg-input__nosvg {
  padding-left: 20px;
}

.inputrg-input:focus {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.039);
}

.inputrg-input::placeholder {
  color: #D7D7D7;
  opacity: 0.5;
}

.input-before__svg {
  position: absolute;
  top: 37px;
  left: 14px;
}
.input-after__svg {
  position: absolute;
  top: 37px;
  right: 14px;
}

.required {
  color: #FF0000;
}


