.pagination-rg {
  display: inline-flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 15px 20px;
}

.pagination-page {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.057);
}

.pagination-page__violet {
  cursor: default;
  border: 1px solid #7267f075;
  color: #7367f0;
}
.pagination-page__blue {
  cursor: default;
  border: 1px solid #1472ff62;
  color: #0d6efd;
}

.pagination-button {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  font-weight: 600;
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0.057);
  margin-right: 8px;
}

.pagination-button:nth-last-child(1) {
  margin-right: 0px;
}

.pagination-button__opasity {
  opacity: 0.5;
  cursor: default;
  color: rgba(57, 57, 57, 0.43);
}
