.tableWrapper {
  border: 1px solid rgba(0, 0, 0, 0.072);
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 2px 0px #00000014, 0px 1px 4px 0px #454B571F;
}

.tableHeaderWrapper {
  padding-top: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.072);
  padding: 13px 20px 5px 20px;
}


