.root {
  .dateContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    @media (max-width: 1150px) {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
  
  .contentMediaContainer {
    
    .subTitle {
      font-weight: 300;
      color: #1F3449;
      font-size: 16px;
      padding-bottom: 12px; 
    }
  }
  
  .submitContainer {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
  }


  .media {
    width: 140px;
    height: 140px;
    border-radius: 12px;
  }


}